# Task to experiment
1. Fetch data with schema overwriting
2. Do some basic analysis
3. Best time to use `polars`
4. Compare with `pandas` in respect of both time and efficiency

----------------------------------
- *Calculate time for each task*
----------------------------------

In [1]:
import time
import polars as pl
import pandas as pd
import numpy as np

# 1. Read data as dataframe

- Get csv data (~103 MB)
- Overwrite schema to make sure proper datatype
- `ignore` infer_schema: it scans all rows to find the proper datatype. That's why it slow and risky for large dataset

- polars code

In [2]:
start_time = time.time()

In [3]:
df = pl.read_csv(source='data8277.csv'
                 , has_header=True
                 , separator=','
                 , try_parse_dates=True
                 , schema_overrides={"count": pl.Int32}
                #  , infer_schema=True  # costly: traberse all rows to find out correct data type
                 , ignore_errors=True
                 , encoding='utf8')

In [4]:
execution_time = time.time() - start_time
print(f"Time to fetch the csv file: {execution_time}")

Time to fetch the csv file: 1.7898650169372559

In [5]:
df.head()

shape: (5, 6)
┌──────┬─────┬────────┬─────┬──────┬───────┐
│ Year ┆ Age ┆ Ethnic ┆ Sex ┆ Area ┆ count │
│ ---  ┆ --- ┆ ---    ┆ --- ┆ ---  ┆ ---   │
│ i64  ┆ i64 ┆ i64    ┆ i64 ┆ i64  ┆ i32   │
╞══════╪═════╪════════╪═════╪══════╪═══════╡
│ 2018 ┆ 0   ┆ 1      ┆ 1   ┆ 1    ┆ 795   │
│ 2018 ┆ 0   ┆ 1      ┆ 1   ┆ 2    ┆ 5067  │
│ 2018 ┆ 0   ┆ 1      ┆ 1   ┆ 3    ┆ 2229  │
│ 2018 ┆ 0   ┆ 1      ┆ 1   ┆ 4    ┆ 1356  │
│ 2018 ┆ 0   ┆ 1      ┆ 1   ┆ 5    ┆ 180   │
└──────┴─────┴────────┴─────┴──────┴───────┘

- pandas code

In [6]:
start_time_pd = time.time()

In [7]:
df_pd = pd.read_csv(filepath_or_buffer='data8277.csv', 
                header=0, 
                delimiter=',', 
                parse_dates=True,  
                encoding='utf8')

/var/folders/vh/pmq0lrv51bl16yqcllb2hw4h0000gn/T/ipykernel_15698/2614096042.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_pd = pd.read_csv(filepath_or_buffer='data8277.csv',

In [8]:
execution_time_pd = time.time() - start_time_pd
print(f"Time to fetch the csv file: {execution_time_pd}")

Time to fetch the csv file: 9.114441871643066

In [9]:
df_pd.head(5)

   Year  Age  Ethnic  Sex Area count
0  2018    0       1    1    1   795
1  2018    0       1    1    2  5067
2  2018    0       1    1    3  2229
3  2018    0       1    1    4  1356
4  2018    0       1    1    5   180

- findings
    - super fast to parse data 
        - polars: ~2 sec
        - pandas: ~10 sec
    - supports polars native data type, not external numpy based datatype
    - try `parse dates param` makes it very efficient to detect datetime related col
    - ignore errors param helps to prevent to break the code while retrieving data

In [10]:
df.glimpse()  # a snapshot of data

Rows: 34959672
Columns: 6
$ Year   <i64> 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018
$ Age    <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ Ethnic <i64> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1
$ Sex    <i64> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1
$ Area   <i64> 1, 2, 3, 4, 5, 6, 7, 8, 9, 12
$ count  <i32> 795, 5067, 2229, 1356, 180, 738, 630, 1188, 2157, 177

# 2. Basic data analysis

a. get specific columns

- select only cols
- basic calculations with selected cols

b. create dereived col

- to make a derive col from str input as condition use `lit`

c. filter

- basic filtereing
- range

d. sort

e. group by

f. combining DF

## 2.a: Selecting cols

- polars code

In [11]:
start_time_selecting_cols = time.time()

In [12]:
df_year_age = df.select(['Year', 'Age'])
df_year_age.head()

shape: (5, 2)
┌──────┬─────┐
│ Year ┆ Age │
│ ---  ┆ --- │
│ i64  ┆ i64 │
╞══════╪═════╡
│ 2018 ┆ 0   │
│ 2018 ┆ 0   │
│ 2018 ┆ 0   │
│ 2018 ┆ 0   │
│ 2018 ┆ 0   │
└──────┴─────┘

In [13]:
df_year_age = df.select(
    pl.col('Year')
    , (pl.col('Age') * 1.0).alias('Age*1.0')
)
df_year_age.head()

shape: (5, 2)
┌──────┬─────────┐
│ Year ┆ Age*1.0 │
│ ---  ┆ ---     │
│ i64  ┆ f64     │
╞══════╪═════════╡
│ 2018 ┆ 0.0     │
│ 2018 ┆ 0.0     │
│ 2018 ┆ 0.0     │
│ 2018 ┆ 0.0     │
│ 2018 ┆ 0.0     │
└──────┴─────────┘

In [14]:
execution_time_for_selecting_cols = time.time() - start_time_selecting_cols
print(f"execution time for selecting cols: {execution_time_for_selecting_cols}")

execution time for selecting cols: 0.15438199043273926

- pandas code

In [15]:
start_time_selecting_cols_pd = time.time()

In [16]:
df_year_age_pd = df_pd[['Year', 'Age']]
df_year_age_pd.head()

   Year  Age
0  2018    0
1  2018    0
2  2018    0
3  2018    0
4  2018    0

In [17]:
df_year_age_pd["Age*1.0"] = df_pd['Age']*1.0
df_year_age_pd = df_year_age_pd[["Year", "Age*1.0"]]
df_year_age_pd.head()

/var/folders/vh/pmq0lrv51bl16yqcllb2hw4h0000gn/T/ipykernel_15698/3095940919.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year_age_pd["Age*1.0"] = df_pd['Age']*1.0

   Year  Age*1.0
0  2018      0.0
1  2018      0.0
2  2018      0.0
3  2018      0.0
4  2018      0.0

In [18]:
execution_time_for_selecting_cols_pd = time.time() - start_time_selecting_cols_pd
print(f"execution time for selecting cols: {execution_time_for_selecting_cols_pd}")

execution time for selecting cols: 0.7971248626708984

- findings
    - time comparison 
        - polars: ~0.1 sec
        - pandas: ~0.7 sec

## 2.b: Derive col

- polars code

In [19]:
start_time_creating_derive_cols = time.time()

In [20]:
df_derive = df.with_columns(
    gender = pl.when(pl.col("Sex") == 1)
    .then(pl.lit('male'))
    .when(pl.col("Sex") == 2)
    .then(pl.lit('female'))
    .otherwise(pl.lit('others'))
    )

df_derive = df_derive.drop(['Sex'])
df_derive.head()

shape: (5, 6)
┌──────┬─────┬────────┬──────┬───────┬────────┐
│ Year ┆ Age ┆ Ethnic ┆ Area ┆ count ┆ gender │
│ ---  ┆ --- ┆ ---    ┆ ---  ┆ ---   ┆ ---    │
│ i64  ┆ i64 ┆ i64    ┆ i64  ┆ i32   ┆ str    │
╞══════╪═════╪════════╪══════╪═══════╪════════╡
│ 2018 ┆ 0   ┆ 1      ┆ 1    ┆ 795   ┆ male   │
│ 2018 ┆ 0   ┆ 1      ┆ 2    ┆ 5067  ┆ male   │
│ 2018 ┆ 0   ┆ 1      ┆ 3    ┆ 2229  ┆ male   │
│ 2018 ┆ 0   ┆ 1      ┆ 4    ┆ 1356  ┆ male   │
│ 2018 ┆ 0   ┆ 1      ┆ 5    ┆ 180   ┆ male   │
└──────┴─────┴────────┴──────┴───────┴────────┘

In [21]:
execution_time_creating_derive_cols = time.time() - start_time_creating_derive_cols
print(f"time to create derive col: {execution_time_creating_derive_cols}")

time to create derive col: 0.21693015098571777

- pandas code

In [22]:
start_time_creating_derive_cols_pd = time.time()

In [23]:
conditions = [
    (df_pd['Sex'] == 1),
    (df_pd['Sex'] == 2)
    ]

# create a list of the values we want to assign for each condition
values = ['male', 'female']

# create a new column and use np.select to assign values to it using our lists as arguments
df_derive_pd = df_pd.copy()
df_derive_pd['gender'] = np.select(conditions, values, default='others')
df_derive_pd.drop(['Sex'], axis=1, inplace=True)

# display updated DataFrame
df_derive_pd.head()

   Year  Age  Ethnic Area count gender
0  2018    0       1    1   795   male
1  2018    0       1    2  5067   male
2  2018    0       1    3  2229   male
3  2018    0       1    4  1356   male
4  2018    0       1    5   180   male

In [24]:
execution_time_creating_derive_cols_pd = time.time() - start_time
print(f"Time to create derive col: {execution_time_creating_derive_cols_pd}")

Time to create derive col: 20.560883045196533

- findings
    - time comparison 
        - polars: ~0.25 sec
        - pandas: ~25 sec
    - `pandas` a bit lengthy to code

## 2.c: Filter

- polars code

In [25]:
start_time_for_filtering = time.time()

In [26]:
df_basic_filter = df_derive.filter(
        df_derive['Year'] < 2007
    )

df_basic_filter.head()

shape: (5, 6)
┌──────┬─────┬────────┬──────┬───────┬────────┐
│ Year ┆ Age ┆ Ethnic ┆ Area ┆ count ┆ gender │
│ ---  ┆ --- ┆ ---    ┆ ---  ┆ ---   ┆ ---    │
│ i64  ┆ i64 ┆ i64    ┆ i64  ┆ i32   ┆ str    │
╞══════╪═════╪════════╪══════╪═══════╪════════╡
│ 2006 ┆ 0   ┆ 1      ┆ 1    ┆ 615   ┆ male   │
│ 2006 ┆ 0   ┆ 1      ┆ 2    ┆ 5142  ┆ male   │
│ 2006 ┆ 0   ┆ 1      ┆ 3    ┆ 1809  ┆ male   │
│ 2006 ┆ 0   ┆ 1      ┆ 4    ┆ 1110  ┆ male   │
│ 2006 ┆ 0   ┆ 1      ┆ 5    ┆ 168   ┆ male   │
└──────┴─────┴────────┴──────┴───────┴────────┘

In [27]:
df_basic_filter_range = df_derive.filter(
    df_derive['Year'].is_between(2006, 2013)  # upper limit inclusive
    )

df_basic_filter_range.head()

shape: (5, 6)
┌──────┬─────┬────────┬──────┬───────┬────────┐
│ Year ┆ Age ┆ Ethnic ┆ Area ┆ count ┆ gender │
│ ---  ┆ --- ┆ ---    ┆ ---  ┆ ---   ┆ ---    │
│ i64  ┆ i64 ┆ i64    ┆ i64  ┆ i32   ┆ str    │
╞══════╪═════╪════════╪══════╪═══════╪════════╡
│ 2013 ┆ 0   ┆ 1      ┆ 1    ┆ 660   ┆ male   │
│ 2013 ┆ 0   ┆ 1      ┆ 2    ┆ 5502  ┆ male   │
│ 2013 ┆ 0   ┆ 1      ┆ 3    ┆ 1971  ┆ male   │
│ 2013 ┆ 0   ┆ 1      ┆ 4    ┆ 1212  ┆ male   │
│ 2013 ┆ 0   ┆ 1      ┆ 5    ┆ 168   ┆ male   │
└──────┴─────┴────────┴──────┴───────┴────────┘

In [28]:
execution_time_for_filtering = time.time() - start_time_for_filtering
print(f"time to filter data: {execution_time_for_filtering}")

time to filter data: 0.6148669719696045

- pandas code

In [29]:
start_time_for_filtering_pd = time.time()

In [30]:
df_basic_filter_pd = df_derive_pd[df_derive_pd["Year"] < 2007]
df_basic_filter_pd.head()

          Year  Age  Ethnic Area count gender
23306448  2006    0       1   01   615   male
23306449  2006    0       1   02  5142   male
23306450  2006    0       1   03  1809   male
23306451  2006    0       1   04  1110   male
23306452  2006    0       1   05   168   male

In [31]:
df_basic_filter_range_pd = df_derive_pd[(df_derive_pd["Year"] >= 2006) & (df_derive_pd["Year"] <= 2013)]
df_basic_filter_range_pd.head()

          Year  Age  Ethnic Area count gender
11653224  2013    0       1   01   660   male
11653225  2013    0       1   02  5502   male
11653226  2013    0       1   03  1971   male
11653227  2013    0       1   04  1212   male
11653228  2013    0       1   05   168   male

In [32]:
execution_time_for_filtering_pd = time.time() - start_time_for_filtering_pd
print(f"time to filter data: {execution_time_for_filtering_pd}")

time to filter data: 3.0627658367156982

- findings
    - time comparison 
        - polars: ~0.6 sec
        - pandas: ~3 sec

## 2.d: Sort

- polars code

In [33]:
start_time_for_sorting = time.time()

In [34]:
df_derive = df_derive.sort(by=["Year", "count"],
                            nulls_last=True)
df_derive.head()

shape: (5, 6)
┌──────┬─────┬────────┬──────┬───────┬────────┐
│ Year ┆ Age ┆ Ethnic ┆ Area ┆ count ┆ gender │
│ ---  ┆ --- ┆ ---    ┆ ---  ┆ ---   ┆ ---    │
│ i64  ┆ i64 ┆ i64    ┆ i64  ┆ i32   ┆ str    │
╞══════╪═════╪════════╪══════╪═══════╪════════╡
│ 2006 ┆ 0   ┆ 5      ┆ 5    ┆ 0     ┆ male   │
│ 2006 ┆ 0   ┆ 5      ┆ 12   ┆ 0     ┆ male   │
│ 2006 ┆ 0   ┆ 5      ┆ 15   ┆ 0     ┆ male   │
│ 2006 ┆ 0   ┆ 5      ┆ 16   ┆ 0     ┆ male   │
│ 2006 ┆ 0   ┆ 5      ┆ 1    ┆ 0     ┆ female │
└──────┴─────┴────────┴──────┴───────┴────────┘

In [35]:
execution_time_for_sorting = time.time() - start_time_for_sorting
print(f"Time to sort data: {execution_time_for_sorting}")

Time to sort data: 4.307321071624756

- pandas code

In [36]:
start_time_for_sorting_pd = time.time()

In [37]:
df_derive_pd = df_derive_pd.sort_values(by=['Year', 'count'])
df_derive_pd.head()

          Year  Age  Ethnic Area count  gender
23306483  2006    0       1   99   ..C  female
23306521  2006    0       2   99   ..C    male
23306540  2006    0       2   99   ..C  female
23306578  2006    0       3   99   ..C    male
23306597  2006    0       3   99   ..C  female

In [38]:
execution_time_for_sorting_pd = time.time() - start_time_for_sorting_pd
print(f"Time to sort data: {execution_time_for_sorting_pd}")

Time to sort data: 5.795939207077026

- findings
    - time comparison 
        - polars: ~4 sec
        - pandas: ~5 sec

## 2.e: Group by

- polars code

In [39]:
start_time_for_grouping = time.time()

In [40]:
df_year_wise_count = df_derive.group_by(
    ["Year"],
    maintain_order=True
    ).agg(
        pl.col("count"). \
        sum(). \
        alias('year_wise_total_count'),

        pl.col("count"). \
        mean(). \
        round(2). \
        alias('year_wise_avg_count'),

        pl.col('gender')
        )

df_year_wise_count.head()

shape: (3, 4)
┌──────┬───────────────────────┬─────────────────────┬──────────────────────────────┐
│ Year ┆ year_wise_total_count ┆ year_wise_avg_count ┆ gender                       │
│ ---  ┆ ---                   ┆ ---                 ┆ ---                          │
│ i64  ┆ i32                   ┆ f64                 ┆ list[str]                    │
╞══════╪═══════════════════════╪═════════════════════╪══════════════════════════════╡
│ 2006 ┆ 1049590488            ┆ 204.45              ┆ ["male", "male", … "others"] │
│ 2013 ┆ 1072735711            ┆ 202.39              ┆ ["male", "male", … "others"] │
│ 2018 ┆ 1217611015            ┆ 212.4               ┆ ["male", "male", … "others"] │
└──────┴───────────────────────┴─────────────────────┴──────────────────────────────┘

In [41]:
execution_time_for_grouping = time.time() - start_time_for_grouping
print(f"time to aggregate data: {execution_time_for_grouping}")

time to aggregate data: 0.4654111862182617

- pandas code

In [42]:
# df_year_wise_count_pd = df_derive_pd.groupby(['Year']).agg(
#     year_wise_total_count=('count', 'sum'),
#     year_wise_avg_count=('count', 'mean'),
#     gender = ('gender', ', '.join)
# ).reset_index()

# df_year_wise_count_pd.head()
"""
Almost ~30 minutes
"""

'\nAlmost ~30 minutes\n'

## 2.f: combining DF

i. joining. [doc](https://docs.pola.rs/user-guide/transformations/joins/#quick-reference-table)

ii. concat

In [43]:
df2 = pl.DataFrame(
    {
        "Year": [2006, 2013, 2018, 2019],
    }
)

df2.head()

shape: (4, 1)
┌──────┐
│ Year │
│ ---  │
│ i64  │
╞══════╡
│ 2006 │
│ 2013 │
│ 2018 │
│ 2019 │
└──────┘

In [44]:
df2_pd = pd.DataFrame({
    "Year": [2006, 2013, 2018, 2019],
})
df2_pd.head()

   Year
0  2006
1  2013
2  2018
3  2019

## 2.f.i: joining

- polars code

In [45]:
start_time_for_joining = time.time()

In [46]:
df_left_join = df2.join(df, 
                       on="Year",
                       how="left"). \
                        sort(by=["Year"], 
                             descending=True)

df_left_join.head()

shape: (5, 6)
┌──────┬──────┬────────┬──────┬──────┬───────┐
│ Year ┆ Age  ┆ Ethnic ┆ Sex  ┆ Area ┆ count │
│ ---  ┆ ---  ┆ ---    ┆ ---  ┆ ---  ┆ ---   │
│ i64  ┆ i64  ┆ i64    ┆ i64  ┆ i64  ┆ i32   │
╞══════╪══════╪════════╪══════╪══════╪═══════╡
│ 2019 ┆ null ┆ null   ┆ null ┆ null ┆ null  │
│ 2018 ┆ 0    ┆ 1      ┆ 1    ┆ 1    ┆ 795   │
│ 2018 ┆ 0    ┆ 1      ┆ 1    ┆ 2    ┆ 5067  │
│ 2018 ┆ 0    ┆ 1      ┆ 1    ┆ 3    ┆ 2229  │
│ 2018 ┆ 0    ┆ 1      ┆ 1    ┆ 4    ┆ 1356  │
└──────┴──────┴────────┴──────┴──────┴───────┘

In [47]:
df_inner_join = df.join(df2, 
                       on="Year",
                       how="inner").sort(by=["Year"], descending=True)

df_inner_join.head()

shape: (5, 6)
┌──────┬─────┬────────┬─────┬──────┬───────┐
│ Year ┆ Age ┆ Ethnic ┆ Sex ┆ Area ┆ count │
│ ---  ┆ --- ┆ ---    ┆ --- ┆ ---  ┆ ---   │
│ i64  ┆ i64 ┆ i64    ┆ i64 ┆ i64  ┆ i32   │
╞══════╪═════╪════════╪═════╪══════╪═══════╡
│ 2018 ┆ 0   ┆ 1      ┆ 1   ┆ 1    ┆ 795   │
│ 2018 ┆ 0   ┆ 1      ┆ 1   ┆ 2    ┆ 5067  │
│ 2018 ┆ 0   ┆ 1      ┆ 1   ┆ 3    ┆ 2229  │
│ 2018 ┆ 0   ┆ 1      ┆ 1   ┆ 4    ┆ 1356  │
│ 2018 ┆ 0   ┆ 1      ┆ 1   ┆ 5    ┆ 180   │
└──────┴─────┴────────┴─────┴──────┴───────┘

In [48]:
execution_time_for_joining = time.time() - start_time_for_joining
print(f"Time to join data: {execution_time_for_joining}")

Time to join data: 3.760941743850708

- pandas code

In [49]:
start_time_for_joining_pd = time.time()

In [50]:
df_left_join_pd = df2_pd.merge(df_pd, 
                              how='left',
                              on='Year').\
                                sort_values(by=["Year"],
                                            ascending=False).reset_index()
df_left_join_pd.head()

      index  Year   Age  Ethnic  Sex    Area count
0  34959672  2019   NaN     NaN  NaN     NaN   NaN
1  27190885  2018  55.0     1.0  9.0  161700   ..C
2  27190861  2018  55.0     1.0  9.0  159300    48
3  27190860  2018  55.0     1.0  9.0  159200     9
4  27190859  2018  55.0     1.0  9.0  159100    12

In [51]:
df_inner_join_pd = df2_pd.merge(df_pd, 
                              how='inner',
                              on='Year').\
                                sort_values(by=["Year"],
                                            ascending=False).reset_index()
df_inner_join_pd.head()

      index  Year  Age  Ethnic  Sex    Area count
0  34959671  2018  888      69    9  DHB777  33.2
1  27190884  2018   55       1    9  161600    12
2  27190860  2018   55       1    9  159200     9
3  27190859  2018   55       1    9  159100    12
4  27190858  2018   55       1    9  159000    15

In [52]:
execution_time_for_joining_pd = time.time() - start_time_for_joining_pd
print(f"Time to join data: {execution_time_for_joining_pd}")

Time to join data: 26.8952157497406

- findings
    - despite having traditional joins, it has some extra join techniques like `semi`, `anti` like `PySpark`
    - time comparison 
        - polars: ~4 sec
        - pandas: ~26 sec

## 2.f.ii: concatinating

In [53]:
df3 = pl.DataFrame(
    {
        "Year": [2020, 2021, 2022, 2023],
        "Age": [0,0,0,0],
        "Ethnic": [1, 2, 3, 4],
        "Sex": [1, 2, 1, 2], 
        "Area": [1, 2, 3, 4],
        "count": [1000, 2000, 3000, 4000]
    }
)

- polars code

In [54]:
start_time_for_concatinating = time.time()

In [55]:
df_concat = pl.concat([df, df3], 
                      how="vertical_relaxed")  # vertical_relaxed: best for datatype missmatched, Int32 -> Int64

df_concat.sort(by='Year', 
                      descending=True).head(5)

shape: (5, 6)
┌──────┬─────┬────────┬─────┬──────┬───────┐
│ Year ┆ Age ┆ Ethnic ┆ Sex ┆ Area ┆ count │
│ ---  ┆ --- ┆ ---    ┆ --- ┆ ---  ┆ ---   │
│ i64  ┆ i64 ┆ i64    ┆ i64 ┆ i64  ┆ i64   │
╞══════╪═════╪════════╪═════╪══════╪═══════╡
│ 2023 ┆ 0   ┆ 4      ┆ 2   ┆ 4    ┆ 4000  │
│ 2022 ┆ 0   ┆ 3      ┆ 1   ┆ 3    ┆ 3000  │
│ 2021 ┆ 0   ┆ 2      ┆ 2   ┆ 2    ┆ 2000  │
│ 2020 ┆ 0   ┆ 1      ┆ 1   ┆ 1    ┆ 1000  │
│ 2018 ┆ 0   ┆ 1      ┆ 1   ┆ 1    ┆ 795   │
└──────┴─────┴────────┴─────┴──────┴───────┘

In [56]:
execution_time_for_concatinating = time.time() - start_time_for_concatinating
print(f"time to concat data: {execution_time_for_concatinating}")

time to concat data: 1.6661570072174072

- pandas code: `wip...`